<div class="row">
  <div class="col-md-3 text-center mx-auto h1 bg-primary p-3 rounded mt-5">
    College Data
  </div>
</div>

<div class="container">
<a href="https://github.com/dtrman/CollegeData" target="_blank">Check out this project on GitHub</a>
<p>I was assigned to completed a one-time programming assignment for a startup company where I was instructed to extract information on course offerings from a college website into an Excel spreadsheet. The method that is shown below is written in Python
	and downloads the HTML for course offerings at the Binghamton college website. This HTML is not available immediately upon visiting the website but requires you to fill out drop down lists before you are given access to the HTML for course offerings.
	I made use of Splinter, which is a software package for Python, to automate the process of filling out the drop down lists and downloading and writing the HTML. I have updated the code below to use a similar software package called Selenium because updates
	to the Firefox browser and/or Python caused the code in Splinter to become unusable.</p>
<img alt="python code" src="images/python1.png">
<p>The method that is shown below is written in Python and uses regular expressions to extract information on college courses from the HTML that was downloaded using the previously shown method and stores that information in a spreadsheet.</p>
<img alt="python code" height="549" src="images/python2.png" width="1045">
</div>