<div class="row">
  <div class="col-md-4 text-center mx-auto h1 bg-primary p-3 rounded mt-3">
    Music Player App
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-4">
    <img alt="stop" id="stopButton" src="/images/stop.png">
  </div>
  <div class="col-md-4">
    <img alt="play" id="playButton" src="/images/play.png">
  </div>
  <div class="col-md-4">
    <img alt="pause" id="pauseButton" src="/images/pause.png">
  </div>
</div>

<div class="row">
  <div class="col-md-3 pr-1">
    <h2 id="playlist" class="text-center mb-2">Playlist</h2>
    <ol id="songList"></ol>
  </div>
  <div class="col-md-3 pr-0">
    <img alt="previous" id="previousButton" src="/images/previous.png">
  </div>
  <div class="col-md-3 px-0">
    <img alt="next" id="nextButton" src="/images/next.png">
  </div>
  <div class="col-md-3 px-0">
    <img alt="shuffle" id="shuffle" src="/images/shuffle-icon-not-pressed.png">
  </div>
</div>
<script>
  // Jukebox App Code
  //Credits:
  //Music files are taken from the free music archive website and are under a public domain license.
  //These music files are available for free download at http://freemusicarchive.org/music/Daniel_Veesey/Beethovens_Sonata_No_1_In_F_Minor/
  //Shuffle icon is based off the shuffle icon available at http://downloadicons.net/shuffle-icon-47257
  //The other icons are original artwork drawn with Microsoft Paint
  //Function getRandomIntInclusive(min, max) taken from the mozilla developer network website at
  //https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random
  var track1 = new Audio("/music/Beethoven1.mp3");
  var track2 = new Audio("/music/Beethoven2.mp3");
  var track3 = new Audio("/music/Beethoven3.mp3");
  var track4 = new Audio("/music/Beethoven4.mp3");

  var arrayOfSongNames = new Array("Beethoven Sonata No. 1 in F Minor - l", "Beethoven Sonata No. 1 in F Minor - ll",
    "Beethoven Sonata No. 1 in F Minor - lll", "Beethoven Sonata No. 1 in F Minor - lV");
  var arrayOfSongVar = new Array(track1, track2, track3, track4);
  var shuffle = false;
  var backgroundColor = 0;
  var currentShuffleNotPressed = "/images/shuffle-icon-not-pressed.png";
  var currentShufflePressed = "/images/shuffle-icon-pressed.png";

  function loadSongNames(bold) {
    document.getElementById("songList").innerHTML = "";
    for (var i = 0; i < arrayOfSongNames.length; i++) {
      if (i === bold)
        document.getElementById("songList").innerHTML += "<li><b>" +
        arrayOfSongNames[i] + "</b></li>";
      else
        document.getElementById("songList").innerHTML += "<li>" +
        arrayOfSongNames[i] + "</li>";
    }
  }
  loadSongNames(0);

  //Returns a random integer between min (included) and max (included)
  function getRandomIntInclusive(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  function changeShuffleIcons() {
    if (shuffle) {
      document.getElementById("shuffle").src = currentShufflePressed;
    } else {
      document.getElementById("shuffle").src = currentShuffleNotPressed;
    }
  }

  function jukebox() {
    var index = 0;
    this.play = function() {
      arrayOfSongVar[index].play();
      loadSongNames(index);
    };
    this.pause = function() {
      arrayOfSongVar[index].pause();
    };
    this.stop = function() {
      arrayOfSongVar[index].pause();
      arrayOfSongVar[index].currentTime = 0;
    };
    this.previous = function() {
      arrayOfSongVar[index].pause();
      index--;
      if (index < 0)
        index = arrayOfSongNames.length - 1;
      loadSongNames(index);
    };
    this.next = function() {
      arrayOfSongVar[index].pause();
      var record = index;
      if (shuffle) {
        index = getRandomIntInclusive(0, arrayOfSongVar.length - 1);
        while (index === record)
          index = getRandomIntInclusive(0, arrayOfSongVar.length - 1);
      } else {
        index++;
        if (index === arrayOfSongVar.length)
          index = 0;
      }
      loadSongNames(index);
    };
    // this.add = function() {
    //     $.ajax({
    //         url: "https://api.spotify.com/v1/search",
    //         data: {
    //             q: document.querySelector("#enterSong").value,
    //             type: "track"
    //         },
    //         success: function(response) {
    //             arrayOfSongVar.push(new Audio(response.tracks.items[0].preview_url));
    //             console.log(response.tracks.items[0].preview_url);
    //             arrayOfSongVar[index].pause();
    //             index = arrayOfSongNames.push(response.tracks.items[0].name) -
    //                 1;
    //             loadSongNames(index);
    //         }
    //     });
    // };
    this.shuffle = function() {
      if (shuffle) {
        document.getElementById("shuffle").src = currentShuffleNotPressed;
        shuffle = false;
      } else {
        document.getElementById("shuffle").src = currentShufflePressed;
        shuffle = true;
      }
    };
    this.changeBackground = function() {
      if (backgroundColor === 0) {
        $('body').attr('style', 'background-color: lightgreen !important');
        // document.body.style.backgroundColor = "lightgreen!important";
        // document.getElementById("custom-container").style.backgroundColor  = "lightgreen";
        document.getElementById("stopButton").src = "/images/stopGreen.png";
        document.getElementById("previousButton").src = "/images/previousGreen.png";
        document.getElementById("nextButton").src = "/images/nextGreen.png";
        document.getElementById("pauseButton").src = "/images/pauseGreen.png";
        document.getElementById("playButton").src = "/images/playGreen.png";
        currentShuffleNotPressed = "/images/shuffle-icon-not-pressed-green.png";
        currentShufflePressed = "/images/shuffle-icon-pressed-green.png";
        changeShuffleIcons();
        backgroundColor = 1;
      } else if (backgroundColor === 1) {
        $('body').attr('style', 'background-color: lightgoldenrodyellow !important');
        // document.body.style.backgroundColor = "lightgoldenrodyellow!important";
        // document.getElementById("container").style.backgroundColor = "lightgoldenrodyellow";
        document.getElementById("stopButton").src = "/images/stopYellow.png";
        document.getElementById("previousButton").src = "/images/previousYellow.png";
        document.getElementById("nextButton").src = "/images/nextYellow.png";
        document.getElementById("pauseButton").src = "/images/pauseYellow.png";
        document.getElementById("playButton").src = "/images/playYellow.png";
        currentShuffleNotPressed = "/images/shuffle-icon-not-pressed-yellow.png";
        currentShufflePressed = "/images/shuffle-icon-pressed-yellow.png";
        changeShuffleIcons();
        backgroundColor = 2;
      } else if (backgroundColor === 2) {
        // document.body.style.backgroundColor = "lightpink";
        // document.body.addClass("set-background-pink");
        $('body').attr('style', 'background-color: lightpink !important');
        // document.body.style.setProperty('backgroundColor', 'lightpink', 'important');
        // document.getElementById("custom-container").style.backgroundColor  = "lightpink";
        document.getElementById("stopButton").src = "/images/stopPink.png";
        document.getElementById("previousButton").src = "/images/previousPink.png";
        document.getElementById("nextButton").src = "/images/nextPink.png";
        document.getElementById("pauseButton").src = "/images/pausePink.png";
        document.getElementById("playButton").src = "/images/playPink.png";
        currentShuffleNotPressed = "/images/shuffle-icon-not-pressed-pink.png";
        currentShufflePressed = "/images/shuffle-icon-pressed-pink.png";
        changeShuffleIcons();
        backgroundColor = 3;
      } else if (backgroundColor === 3) {
        $('body').attr('style', 'background-color: #ABD1D1 !important');
        // document.body.style.backgroundColor = "#ABD1D1!important";
        // document.getElementById("custom-container").style.backgroundColor  = "#ABD1D1";
        document.getElementById("stopButton").src = "/images/stop.png";
        document.getElementById("previousButton").src = "/images/previous.png";
        document.getElementById("nextButton").src = "/images/next.png";
        document.getElementById("pauseButton").src = "/images/pause.png";
        document.getElementById("playButton").src = "/images/play.png";
        currentShuffleNotPressed = "/images/shuffle-icon-not-pressed.png";
        currentShufflePressed = "/images/shuffle-icon-pressed.png";
        changeShuffleIcons();
        backgroundColor = 0;
      }
    };
  }

  var myJukebox = new jukebox();
  document.getElementById("playButton").addEventListener("click", function() {
    myJukebox.play();
  });
  document.getElementById("pauseButton").addEventListener("click", function() {
    myJukebox.pause();
  });
  document.getElementById("stopButton").addEventListener("click", function() {
    myJukebox.stop();
  });
  document.getElementById("previousButton").addEventListener("click", function() {
    myJukebox.previous();
    myJukebox.changeBackground();
  });
  document.getElementById("nextButton").addEventListener("click", function() {
    myJukebox.next();
    myJukebox.changeBackground();
  });
  // document.getElementById("add").addEventListener("submit", function(event) {
  //     event.preventDefault();
  //     myJukebox.add();
  // });
  document.getElementById("shuffle").addEventListener("click", function() {
    myJukebox.shuffle();
  });
</script>